*.mp4
!media/Sequenz 01.mp4
!projects/matieres-fecales/media/stills/01.mp4
!projects/matieres-fecales/media/stills/02.mp4
!projects/matieres-fecales/media/stills/03.mp4
!projects/matieres-fecales/media/stills/04.mp4
!projects/matieres-fecales/media/stills/05.mp4
!projects/matieres-fecales/media/stills/06.mp4
